.container,
.browse-all-container,
.details-container {
  max-width: 575px;
  margin: 0 auto;
}

.form-container-full {
  margin: 0 20px;
}

.welcome-message {
  font-size: 2rem;
  width: 300px;
  margin: 0;
}

.details-container-full,
.row-back-button {
  margin: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  width: 100%;
}

.row-form {
  margin: 15px;
}

.row-file-upload {
  border: #8ab6d6 solid 1px;
  border-radius: 10px;
}

.custom-file-upload {
  width: 100%;
}

.card-title {
  width: 300px;
}

.details-listing-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.margin-auto {
  margin: auto;
}

.details-column-half {
  width: 300px;
}

.email-modal-window {
  width: 340px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .browse-all-container {
    max-width: 1100px;
  }

  .details-container {
    max-width: 1100px;
  }

  .row-header {
    margin-bottom: 30px;
  }

  .column-half,
  .details-column-half {
    width: 50%;
  }

  .row-form {
    margin-top: 0;
  }

  .row-file-upload {
    height: 344px;
    cursor: pointer;
  }

  .custom-file-upload {
    height: 100%;
  }

  .browse-all-listing {
    margin: 0 33px;
  }

  .details-listing-image {
    width: 360px;
    height: 360px;
  }

  .details-card-price {
    font-size: 18px;
  }

  .row-back-button {
    max-width: 700px;
    width: 865px;
  }

  .column-contact-seller {
    text-align: left;
  }

  .email-modal-window {
    width: 420px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1070px) {
  .details-listing-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }

  .row-back-button {
    max-width: 700px;
    width: 1030px;
  }
}
