.container {
  max-width: 575px;
  margin: 0 auto;
}

.browse-all-container,
.details-container {
  max-width: 575px;
  margin: 0 auto;
  margin-top: 100px;
}

.details-container,
.edit-listing-container {
  margin-top: 80px;
}

.your-listings-container,
.saved-items-container,
.no-listings-container,
.published-container {
  margin-top: 100px;
}

.form-container-full {
  margin: 0 20px;
  margin-top: 85px;
}

.edit-form-container {
  margin: 0 20px;
}

.welcome-message {
  font-size: 2rem;
  width: 300px;
  margin: 0;
}

.row-front-title {
  padding-top: 30%;
  margin-bottom: 60px;
}

/* .row-card-full {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7.5%);
} */

.details-container-full,
.row-back-button {
  margin: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  width: 100%;
}

.row-form {
  margin: 15px;
}

.row-file-upload {
  border: #8ab6d6 solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

.custom-file-upload {
  width: 100%;
}

.card-body {
  width: 300px;
  padding: 10px;
  padding-top: 0;
  border-radius: 0 0 10px 10px;
}

.card-title {
  width: 300px;
}

.details-listing-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7.5%);
}

.margin-auto {
  margin: auto;
}

.details-column-half {
  width: 300px;

  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7.5%); */
  border-radius: 10px 0 0 10px;
}

.details-column-body {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  padding-top: 0;

  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7.5%); */
}

.email-modal-window,
.loading-modal-window,
.sent-modal-window {
  width: 340px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.loading-modal-window {
  background-color: rgb(0 0 0 / 0%);
}

.details-description-container {
  word-break: break-all;
}

.saved-prompt {
  color: white;
  background-color: rgb(0 0 0 / 75%);
  width: 100%;
  padding: 8px 0;
  font-size: 1.2rem;
  position: absolute;
  border-radius: 0 0 10px 10px;
  transition: 0.2s;
}

.row-details-submit {
  margin-top: 10px;
}

#google-map {
  width: 300px;
  height: 300px;
}

.map {
  margin-top: 25px;
}

.row-location-submit {
  position: relative;
  top: 110px;
}

.row-header {
  z-index: 2;
  top: -15px;
  left: 40px;
  width: 100%;
  position: fixed;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .browse-all-container {
    max-width: 1100px;
  }

  .details-container {
    max-width: 1100px;
  }

  .column-half,
  .details-column-half {
    width: 50%;
  }

  .form-container-full {
    margin-top: 100px;
  }

  .row-form {
    margin-top: 0;
  }

  .row-file-upload {
    height: 344px;
  }

  .custom-file-upload {
    height: 100%;
  }

  .browse-all-listing {
    margin: 0 33px;
  }

  .details-listing-image {
    width: 430px;
    height: 400px;
    border-radius: 10px 0 0 10px;
  }

  .details-column-body {
    border-radius: 0 10px 10px 0;
    padding-right: 15px;
  }

  .details-card-price {
    font-size: 18px;
  }

  .row-back-button {
    max-width: 700px;
    width: 865px;
  }

  .column-contact-seller {
    text-align: left;
  }

  .email-modal-window,
  .loading-modal-window {
    width: 420px;
  }

  .saved-prompt {
    width: 360px;
  }

  #google-map {
    width: 600px;
    height: 500px;
  }
}

@media screen and (min-width: 1070px) {
  .container {
    max-width: 1100px;
  }

  .row-front-title {
    padding-top: 25%;
  }

  .form-container-full {
    max-width: 1060px;
    margin: 0 50px;
    margin-top: 100px;
  }

  .row-file-upload {
    height: 400px;
    align-items: right;
  }

  .custom-file-upload {
    height: 100%;
  }

  .details-listing-image {
    width: 530px;
    height: 500px;
    border-radius: 10px 0 0 10px;
  }

  .details-description-container {
    margin-top: 25px;
  }

  .details-column-body {
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
  }

  .row-description {
    height: 206px;
  }

  .row-back-button {
    max-width: 700px;
    width: 1030px;
  }

  .saved-prompt {
    width: 500px;
  }

  #google-map {
    width: 700px;
    height: 600px;
  }
}
