* {
  font-family: Roboto, sans-serif;
}

h1,
a {
  font-weight: 400;
}

button {
  padding: 15px 0;
  width: 130px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button.cancel-previous {
  background-color: #f1f1f1;
  color: #8d8d8d;
}

button.cancel-previous:hover {
  background-color: #e6e6e6;
  transition: 0.2s ease-out;
}

button.next-submit {
  background-color: #2978b5;
  color: white;
}

button.next-submit:hover {
  background-color: #236699;
  transition: 0.2s ease-out;
}

.img-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.page-header-text {
  margin-bottom: 15px;
}

.col-buttons {
  width: 50%;
  margin-bottom: 15px;
}

.col-buttons.cancel-previous {
  text-align: right;
  padding-right: 15px;
}

.col-buttons.next-submit {
  text-align: left;
  padding-left: 15px;
}

.row-input-title {
  margin-top: 0;
}

.new-listing-form-style {
  padding: 15px 10px;
  width: 100%;
  resize: none;
  border: #8ab6d6 solid 1px;
  border-radius: 10px;
  color: #414141;
  font-size: 0.9rem;
  transition: 0.2s ease-out;
}

.new-listing-form-style:focus {
  outline: none;
  border: #8ab6d6 solid 1px;
  box-shadow: 0 0 0 2px #8ab6d6;
  transition: 0.2s ease-out;
}

input[type="file"] {
  display: none;
}

.file-upload,
.custom-file-upload {
  cursor: pointer;
}

.text-no-image-error,
.text-no-location-error {
  color: red;
  margin-top: 0;
}

.hidden {
  display: none;
}

.blue {
  background-color: #8ab6d6;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* .dollar {
  position: relative;
  width: 100%;
  display: inline-block;
} */

/* .unit {
  position: absolute;
  display: block;
  left: 12px;
  top: 14px;
  color: #414141a7; */

/* z-index: 9; */

/* .dollar input {
  padding: 15px 25px;
} */

/* .dollar::before {
  position: absolute;
  content: "$";
  left: 12px;
  top: 14px;
  color: #414141a7;
} */

/* from appdrawer exercise */

.navbar-header {
  position: fixed;
  background-color: white;
  width: 45px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.navbar-ul {
  list-style-type: none;
  padding: 20px 5px;
  margin: 0;
}

.navbar-row-browse {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
}

.navbar-row-create,
.navbar-row-listings,
.navbar-row-saved,
.navbar-row-sign {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar-row-browse:hover,
.navbar-row-create:hover,
.navbar-row-listings:hover,
.navbar-row-saved:hover,
.navbar-row-sign:hover {
  background-color: #2978b53a;
  transition: 0.2s ease-in-out;
}

.navbar-column-browse-icon,
.navbar-column-create-icon,
.navbar-column-listings-icon,
.navbar-column-saved-icon,
.navbar-column-sign-icon {
  width: 25%;
}

.navbar-column-browse-text,
.navbar-column-create-text,
.navbar-column-listings-text,
.navbar-column-saved-text,
.navbar-column-sign-text {
  width: 70%;
  height: 40px;
}

.navbar-browse-icon {
  margin-left: 10px;
  margin-top: 12px;
}

.navbar-browse-all-anchor {
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.4rem;
  position: relative;
  top: 7px;
}

.navbar-create-icon,
.navbar-listings-icon,
.navbar-saved-icon,
.navbar-sign-icon {
  margin-left: 13px;
  padding-top: 12px;
}

.navbar-create-anchor,
.navbar-listings-anchor,
.navbar-saved-anchor,
.navbar-sign-anchor {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  top: 10px;
}

.navbar-icon {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.navbar-modal-container-full {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.navbar-modal-container {
  background: white;
  width: 215px;
  height: 100%;
  position: fixed;
  top: 0;
  transition: 0.3s;
  transition-timing-function: ease;
}

.navbar-shadow {
  box-shadow: 5px 0 10px;
}

.navbar-view {
  left: 0;
}

.navbar-hidden {
  left: -100%;
}

.overlay-hidden {
  display: none;
}

.navbar-overlay {
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  transition-timing-function: ease;
}
