* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.lobster-font {
  font-family: Lobster, cursive;
}

h1,
a {
  font-weight: 400;
  color: #444;
}

a {
  text-decoration: none;
}

button {
  padding: 15px 0;
  width: 130px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button.next-submit,
button.contact-seller {
  background-color: #2978b5;
  color: white;
}

button.next-submit:hover,
button.contact-seller:hover {
  background-color: #236699;
  transition: 0.2s ease-out;
}

/* front-page */

.front-page-title {
  font-size: 3rem;
}

.row-get-started {
  margin-top: 80px;
}

.front-input-row {
  margin: 20px 0;
}

.sign-in-form-style {
  padding: 10px;
  width: 300px;
  resize: none;
  border: 0;
  outline: 0;
  border-bottom: #8ab6d6 solid 1px;
  color: #444;
  font-size: 0.9rem;
  transition: 0.2s ease-out;
}

.sign-in-form-style:focus {
  outline: none;
  border-bottom: #8ab6d6 solid 3px;
  transition: 0.2s ease-out;
}

.front-button {
  background-color: #2978b5;
  color: white;
  padding: 15px 0;
  width: 225px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.front-button:hover {
  background-color: #236699;
  transition: 0.2s ease-out;
}

.front-login-span {
  display: block;
  vertical-align: middle;
  height: 20px;
  margin-top: 16px;
}

.front-login-anchor {
  display: flex;
  color: #2978b5;
  font-weight: 600;
  padding-left: 5px;
}

.row-invalid-sign {
  padding: 0 10px;
}

/* create-listing */

.img-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.page-header-text {
  margin-bottom: 15px;
  font-family: Lobster, cursive;
}

.col-buttons {
  width: 50%;
  margin-bottom: 15px;
}

.col-buttons.cancel-previous {
  text-align: right;
  padding-right: 15px;
}

.col-buttons.next-submit {
  text-align: left;
  padding-left: 15px;
}

.row-input-title {
  margin-top: 0;
}

.new-listing-form-style {
  padding: 15px 10px;
  width: 100%;
  resize: none;
  border: #8ab6d6 solid 1px;
  border-radius: 10px;
  color: #444;
  font-size: 0.9rem;
  transition: 0.2s ease-out;
}

.new-listing-form-style:focus {
  outline: none;
  border: #8ab6d6 solid 1px;
  box-shadow: 0 0 0 2px #8ab6d6;
  transition: 0.2s ease-out;
}

input[type="file"] {
  display: none;
}

.file-upload,
.custom-file-upload {
  cursor: pointer;
}

.text-no-image-error,
.text-no-location-error,
.text-invalid-sign-in-error {
  color: red;
  margin-top: 0;
}

.create-listing-cancel-button {
  text-align: center;
  display: inline-block;
  background-color: #f1f1f1;
  color: #8d8d8d;
  padding: 15px 0;
  width: 130px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.create-listing-cancel-button:hover {
  background-color: #e6e6e6;
  transition: 0.2s ease-out;
}

.sent-okay-button {
  text-align: center;
  display: inline-block;
  background-color: #236699;
  color: white;
  padding: 15px 0;
  width: 130px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.sent-okay-button:hover {
  background-color: #236699;
  transition: 0.2s ease-out;
}

/* utility */

.hidden {
  display: none;
}

.white {
  color: white;
}

.blue {
  background-color: #8ab6d6;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.dark-grey-color {
  color: #444;
}

.div-published-body {
  margin-top: 50px;
}

.front-margin-top {
  margin-top: 30px;
}

/* browse-all */

.browse-all-listing {
  display: block;
  margin-bottom: 75px;
  cursor: pointer;
}

.browse-all-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.browse-all-description {
  height: 4.5rem;
  overflow: hidden;
}

.row-browse-all {
  margin-top: 20px;
}

.card-price {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.card-title,
.card-location {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
}

.card-location {
  color: #7e7e7e;
}

/* details-listing */

.details-card-title {
  font-weight: 600;
  font-size: 22px;
  padding-top: 10px;
}

.row-condition {
  margin: 10px 0;
}

.details-card-condition-label {
  font-weight: 600;
  font-size: 16px;
}

.details-card-condition {
  padding-left: 80px;
}

.details-text {
  margin: 5px 0;
}

.details-card-price {
  font-weight: 600;
}

.details-card-location {
  color: #7e7e7e;
}

.back-icon {
  font-size: 30px;
}

/* email-form */

.row-contact-seller {
  margin-top: 20px;
}

/* navbar */

.navbar-header {
  position: fixed;
  background-color: white;
  width: 45px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.navbar-ul {
  list-style-type: none;
  padding: 20px 5px;
  margin: 0;
}

.navbar-row-browse {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 25px;
}

.navbar-row-create,
.navbar-row-listings,
.navbar-row-saved,
.navbar-row-sign {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar-row-browse:hover,
.navbar-row-create:hover,
.navbar-row-listings:hover,
.navbar-row-saved:hover,
.navbar-row-sign:hover {
  background-color: #2978b53a;
  transition: 0.2s ease-in-out;
}

.navbar-column-browse-icon,
.navbar-column-create-icon,
.navbar-column-listings-icon,
.navbar-column-saved-icon,
.navbar-column-sign-icon {
  width: 25%;
  color: #444;
}

.navbar-column-browse-text,
.navbar-column-create-text,
.navbar-column-listings-text,
.navbar-column-saved-text,
.navbar-column-sign-text {
  width: 70%;
  height: 40px;
}

.navbar-browse-icon {
  margin-left: 10px;
  margin-top: 12px;
  position: relative;
  bottom: 3px;
  font-size: 1.3rem;
}

.navbar-browse-all-anchor {
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.8rem;
  position: relative;
  bottom: 19px;
  font-family: Lobster, cursive;
}

.navbar-create-icon,
.navbar-listings-icon,
.navbar-saved-icon,
.navbar-sign-icon {
  margin-left: 13px;
  padding-top: 12px;
}

.navbar-create-anchor,
.navbar-listings-anchor,
.navbar-saved-anchor,
.navbar-sign-anchor {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.navbar-icon {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  color: #444;
}

.navbar-modal-container-full {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.navbar-modal-container {
  background: white;
  width: 215px;
  height: 100%;
  position: fixed;
  top: 0;
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.21, 0.92, 0, 1);
}

.navbar-shadow {
  box-shadow: 5px 0 10px;
}

.navbar-view {
  left: 0;
}

.navbar-hidden {
  left: -100%;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.9, 0, 0.65, 1);
}

.navbar-overlay {
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.21, 0.92, 0, 1);
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* email-form */

.email-modal-container {
  margin: auto;
}

.email-overlay {
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.row-input-name {
  margin-top: 20px;
}

.email-modal-shadow {
  box-shadow: 0 0 5px;
}

/* not-found */

.return-home-row {
  margin-top: 30px;
}

.return-home-button {
  background-color: #2978b5;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.return-home-button:hover {
  background-color: #236699;
  transition: 0.2s ease-out;
}
