* {
  font-family: Roboto, sans-serif;
}

textarea {
  height: auto;
}

h1 {
  font-weight: 400;
}

button {
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

button.cancel {
  background-color: #f1f1f1;
  color: #8d8d8d;
  transition: 0.2s ease-out;
}

button.cancel:hover {
  background-color: #e6e6e6;
  transition: 0.2s ease-out;
}

button.next {
  background-color: #2978b5;
  color: white;
  transition: 0.2s ease-out;
}

button.next:hover {
  background-color: #236699;
  transition: 0.2s ease-out;
}

.page-header-text {
  margin-bottom: 15px;
}

.col-buttons {
  width: 50%;
  margin-bottom: 15px;
}

.col-buttons.cancel {
  text-align: right;
  padding-right: 15px;
}

.col-buttons.next {
  text-align: left;
  padding-left: 15px;
}

/* .row-header {

} */

.row-form {
  margin: 15px;
}

.row-input-title {
  margin-top: 0;
}

.new-listing-form-style {
  padding: 15px 10px;
  width: 100%;
  resize: none;
  border: #8ab6d6 solid 1px;
  border-radius: 10px;
  color: #414141;
  font-size: 0.9rem;
  transition: 0.2s ease-out;
}

.new-listing-form-style:focus {
  outline: none;
  border: #8ab6d6 solid 1px;
  box-shadow: 0 0 0 2px #8ab6d6;
  transition: 0.2s ease-out;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: #8ab6d6 solid 1px;
  border-radius: 10px;
  height: 275px;
  width: 100%;
  cursor: pointer;
}

option.first {
  /* color: #b0b0b0; */
  color: red;
  font-size: 2rem;
}

.blue {
  background-color: #8ab6d6;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
